@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #c96120;
  font-family: "Press Start 2P", cursive;
}

.evo {
  width: 280px;
  height: 210px;
}

.cloud {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
